{% extends "base.html" %}

{% block title %}Log Skills{% endblock %}

{% block content %}
{% load static %}
<style>
    body{
        background-image: url("/static/images/skillsBackground.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>

<div class="form-box">
    <h2>Log Skills</h2>

    <form class="form-with-validation" action="{% url 'skills:log-skills' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="form-submit">Log Skill</button>
    </form>
</div>

{% endblock %}