{% extends "base.html" %}
{% block title %}Share{% endblock %}
{% block navbar %}
{% endblock %}

{% block content %}
{% load static %}



<div class="table-box">

            <table>
                <caption>Skills</caption>
                <tr>
                    <th>Skill</th>
                    <th>Date</th>
                    <th>Level</th>

                </tr>

                {% for skill in skills %}

                    <tr>
                        <td>{{ skill.skill }}</td>
                        <td>{{ skill.date }}</td>
                        <td>{{ skill.get_level_display }}</td>

                    </tr>
                {% endfor %}

            </table>


</div>
{% endblock %}