{% extends "base.html" %} 
{% block title %}Profile{% endblock %}

{% block content %}
{% load static %}
<style>
    body{
        background-image: url("/static/images/loginBackground.jpg");
    }
</style>

<div class="form-box">
    <h2>Welcome, {{ user.first_name }}!</h2>
    <p><b>Full Name:</b> {{ user.first_name }} {{ user.last_name }}</p>
    <p><b>Email:</b> {{ user.email }}</p>
</div>

<div class="table-box">


    <table>
        <caption>Pending Skills</caption>
        <tr>
            <th>Skill</th>
            <th>Date</th>
            <th>Level</th>
        </tr>

        {% for skill in skills %}
            {% if not skill.approved %}
            <tr>
                <td>{{ skill.skill }}</td>
                <td>{{ skill.date }}</td>
                <td>{{ skill.get_level_display }}</td>

            </tr>
        {% endif %}
        {% endfor %}

    </table>

</div>



<div class="table-box">
    <table>
        <caption>Pending Hours</caption>
        <tr>
            <th>Hours</th>
            <th>Date</th>
            <th>Course</th>
        </tr>
        {% for entry in hours %}
        {% if not entry.approved %}
        <tr>
            <td>{{ entry.hours }}</td>
            <td>{{ entry.start_time|date:"M d, Y" }}</td>
            <td>{{ entry.course }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>


<div class="table-box">


    <table>
        <caption>Approved Skills</caption>
        <tr>
            <th>Skill</th>
            <th>Date</th>
            <th>Level</th>
        </tr>

        {% for skill in skills %}
            {% if skill.approved %}
            <tr>
                <td>{{ skill.skill }}</td>
                <td>{{ skill.date }}</td>
                <td>{{ skill.get_level_display }}</td>

            </tr>
        {% endif %}
        {% endfor %}

    </table>

</div>



<div class="table-box">
    <table>
        <caption>Approved Hours</caption>
        <tr>
            <th>Hours</th>
            <th>Date</th>
            <th>Course</th>
        </tr>
        {% for entry in hours %}
        {% if entry.approved %}
        <tr>
            <td>{{ entry.hours }}</td>
            <td>{{ entry.start_time|date:"M d, Y" }}</td>
            <td>{{ entry.course }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>
{% endblock %}