{% extends "base.html" %}
{% block content %}

<style>
table {
  width: 50%;
  margin-left: auto;
  margin-right: 0;
}

td, th {
  border: solid;
  text-align: left;
}

caption {
  caption-side: top;
  font-size: 30px;
}

.my-box2 {
            border: 2px solid black;
            padding: 20px;
            margin: 50px;
            background-color: white;
            width: 500px;
            text-align: center;

            color: black;
        }


}
</style>

    <h1>Nursing Student - Hours</h1>

    <div class="my-box2">
        <h2>56 Hours</h2>

        <label for="file">Progress:</label>
        <progress id="file" value="32" max="100"> 32% </progress>
    </div>

    <table>
        <caption>Approved Hours: </caption>
        <tr>
            <th>Hours</th>
            <th>Date</th>
            <th>Type</th>
            <th>Location</th>
            <th>Instructor</th>
        </tr>
        <tr>
            <td>7</td>
            <td>1/1/2011</td>
            <td>Clinical</td>
            <td>Hospital</td>
            <td>Jane Doe</td>
         </tr>
        <tr>
            <td>7</td>
            <td>1/1/2011</td>
            <td>Clinical</td>
            <td>Hospital</td>
            <td>Jane Doe</td>
         </tr>
    </table>

{% endblock %}