{% extends "base.html" %}
{% block title %}Share{% endblock %}
{% block navbar %}
{% endblock %}

{% block content %}
{% load static %}



<div class="table-box">

            <table>
                <caption>Skills</caption>
                <tr>
                    <th>Skill</th>
                    <th>Date</th>
                    <th>Level</th>

                </tr>

                {% for skill in skills %}
                    {% if skill.approved %}


                    <tr>
                        <td>{{ skill.get_skill_display }}</td>
                        <td>{{ skill.completed }}</td>
                        <td>{{ skill.get_sai_display }}</td>

                    </tr>


                {% endif %}
                {% endfor %}

            </table>


</div>
{% endblock %}