{% extends "base.html" %}

{% block title %}Time Entry{% endblock %}

{% block content %}

{% load static %}
<style>
    body{
        background-image: url("/static/images/hoursBackground.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>

<div class="form-box">
    <h2>Log Your Hours</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="form-submit">Submit Hours</button>
    </form>
</div>
{% endblock %}